<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527920544765-mgoc1oe8psi9t4m4l3aucpt840nat8ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527920544765-mgoc1oe8psi9t4m4l3aucpt840nat8ao</string>
	<key>API_KEY</key>
	<string>AIzaSyAUpJWnrqk02YiVVETDhLt5cUCP8lLm1g0</string>
	<key>GCM_SENDER_ID</key>
	<string>527920544765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inffe.team</string>
	<key>PROJECT_ID</key>
	<string>deerha-pos-878c2</string>
	<key>STORAGE_BUCKET</key>
	<string>deerha-pos-878c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:527920544765:ios:ba2c8285bd9c9cfb23b794</string>
</dict>
</plist>
