<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347846429726-6516h38nkickcoar2msskd2r59s5autj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347846429726-6516h38nkickcoar2msskd2r59s5autj</string>
	<key>API_KEY</key>
	<string>AIzaSyBJY2Bkq7_nZbFRDqjMkYf4iygaATsSFNc</string>
	<key>GCM_SENDER_ID</key>
	<string>347846429726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inffe.team</string>
	<key>PROJECT_ID</key>
	<string>deerha-pos-641b1</string>
	<key>STORAGE_BUCKET</key>
	<string>deerha-pos-641b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347846429726:ios:b1d73f8f82c1e2122bf20f</string>
</dict>
</plist>